<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>924F64FF-8A49-48E8-AA02-3B68E4A257B2</string>
			<string>359FD3A4-000A-4B63-B5C1-D6C758E6CB38</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>924F64FF-8A49-48E8-AA02-3B68E4A257B2</key>
			<dict>
				<key>items</key>
				<array>
					<string>FE7E6D85-727C-4E6C-A420-C3E9A5E89C80</string>
					<string>614AA957-A665-4927-9E49-F1404281A272</string>
				</array>
				<key>name</key>
				<string>Resources</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Python Extras</string>
	<key>ordering</key>
	<array>
		<string>AD5B91E1-7DF0-4E4C-B794-591640FAFD08</string>
		<string>190010F6-A759-44C1-A994-479847B23A97</string>
		<string>F56FF4EE-A9D5-41AF-8866-22D47A7025CA</string>
		<string>359FD3A4-000A-4B63-B5C1-D6C758E6CB38</string>
		<string>614AA957-A665-4927-9E49-F1404281A272</string>
		<string>FE7E6D85-727C-4E6C-A420-C3E9A5E89C80</string>
		<string>7DCCE09F-E596-42F7-AF7D-814CE14F3BF0</string>
	</array>
	<key>uuid</key>
	<string>862A2DE4-F52E-48CF-8EA6-9AE05DAA6E6E</string>
</dict>
</plist>
